for (gato of gatitos) { 
    var elem = document.createElement('img');
    var span = document.createElement('span');
    var count = document.createElement('span');
    
    elem.src = gato.img;
    elem.className = "gatos";
    elem.id = gato.id;
    count.id = gato.name;

    span.innerHTML = gato.name;
    count.innerHTML = gato.count;
    
    document.body.appendChild(elem);
    document.body.appendChild(span);
    document.body.appendChild(count);
}



for (gato of gatitos) {
    // This is the number we're on...
    var num = gato.count;

    // We're creating a DOM element for the number
    var elem = document.getElementById(gato.id);
    elem.textContent = num;

    // ... and when we click, alert the value of `num`
    elem.addEventListener('click', (function(numCopy) {
        var id_span = gato.name;
        return function() {
            numCopy = numCopy + 1;
            document.getElementById(id_span).textContent= numCopy;
        };
    })(num));
};






